@font-face {
    font-family: 'AvenirLigth';
    src: url('../font/AvenirLTStd-Roman.otf');
    
}
@font-face {
    font-family: 'AvenirBolder';
    src: url('../font/AvenirLTStd-Black.otf');
    
}
:root{
    /* text variables  */
    --text-color-primary:#a05841;
    --text-color-second:#fff;
    /* background  */
    --background-color-secondary: #123132;
}
/* header */
.header{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    position: fixed;
    top: 0;
    left: 2.5%;
    background-color: var(--text-color-second);
    z-index: 20;
}


.header__logo{
    margin: 0 1.5rem 0 0;
    font-size: .5rem;
    color: var(--text-color-primary);
    text-decoration: none;
    font-family: 'AvenirBolder';
    transform: scaley(1.3);
}

.navbar{
    display: flex;

    justify-content: space-between;
    
}

.navbar-nav1{

    display: flex;
    align-items: center;
}

.navbar-nav1__link{
    padding:0 1rem;
    text-decoration: none;
    color: var(--text-color-primary);
    
}
.navbar-nav2{

    display: flex;
    align-items: center;

}

.navbar-nav2__call{
    font-size: 1rem;
    letter-spacing: .1em;
    color: var(--text-color-primary);
    transform: scaley(1.3);
    font-family: 'AvenirBolder';
    margin-right: 1rem;
}
.navbar-nav2__link{
    color: var(--text-color-primary);
    fill:var(--text-color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
}

.navbar-nav2__ico1, .navbar-nav2__ico2{
    width: 1.875rem;
}

.navbar-nav2__ico1{
    margin-right:1rem ;
}

.navbar-nav2__ico2-number{
    position: absolute;
    top: 40%;
    right: 35%;
}

/* boton responsive  */

.header__btn{
    display: none;
  
}
.icon-checkbox{
    display: none;

    
}

.icon-btn{

    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    left: 3rem;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
box-shadow: -.1em .1em 3em var(--text-color-primary);
}

.icon-btn:hover{
    box-shadow: 0 2rem 2.5rem rgba(0,0,0,0.3);
}

.icon{
    position: fixed;
    top: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1.5rem;

}

.icon,.icon::after,.icon::before{
   width: 1.5rem;
   height: 2px;
   background-color: var(--text-color-primary);
   display: inline-block;
}

.icon::before,.icon::after{
    content: '';
    position: absolute;
    left: 0;
    transition: 0.2s;
}

.icon::before{
    top: -0.4rem;
}

.icon::after{
    top: 0.4rem;
}

.icon-checkbox:checked+.icon-btn .icon{
    background-color: transparent;
}

.icon-checkbox:checked+.icon-btn .icon::before{
    top: 0;
    transform: rotate(135deg);
}

.icon-checkbox:checked+.icon-btn .icon::after{
    top: 0;
    transform: rotate(-135deg);

}

  
/* fin boton responsive  */

/* fin header  */

/* container  */
.container{
    width: 95%;
    margin-top: 3.74rem;
    height: calc(100vh - 3.75rem);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__background{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    top: 0;
    height: 100%;
}
.container__background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    height: calc(100% - 3.75rem);
    object-fit: cover;
    z-index: -10;

}

.container-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.container-logo-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.container-logo-logo__txt{
    color: var(--text-color-second);
    font-size: 1rem;
    letter-spacing: .3em;
    padding-bottom: .1em;
    border-bottom: .17em solid var(--text-color-second);
}

.container-logo-logo__img{
    fill: var(--text-color-second);
    width: 9.375rem;
    margin: 1em;
    
}


.container-logo__title{
    font-size: 5rem;
    transform: scaleY(1.5);
    letter-spacing: .2em;
    color: var(--text-color-second);
    margin: .3em;
}

.container-logo__sub{
    color: var(--text-color-second);
    font-size: 1.3rem;
    letter-spacing: .15em;
    text-align: center;
}

.container-logo__btn{
    background-color: var(--text-color-primary);
    text-decoration: none;
    color: var(--text-color-second);
    font-size: 1rem;
    margin-top: 2em;
    padding: .7em 3em;
    text-align: center;
    border: .2rem solid var(--text-color-primary);
}

/* tienda  */

.tienda{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    flex-wrap: wrap;
}

.tienda-card{
    padding-top: 1.5rem;
    width: 33%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.tienda-card__img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;

}

.tienda-card__title{
    color: var(--text-color-primary);
    font-size: 1rem;
    letter-spacing: .1em;
    font-family: 'AvenirBolder';
    padding-bottom: 1.2rem;
    position: relative;
    margin: 0;
}

.tienda-card__title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 35%;
    width: 30%;
    height: .3rem;
    background-color: var(--text-color-primary);

}

.tienda-card__buy{
    color: var(--text-color-second);
    text-decoration: none;
    background-color: var(--text-color-primary);
    font-size: .9rem;
    margin-top: 1em;
    padding: .8em 4em;
    border: .2rem solid var(--text-color-primary);
}

.tienda-card__background{
    background-color: var(--text-color-primary);
    opacity: .0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -5;
}

.tienda-card:active .tienda-card__background{
    opacity: .3;
}

/* fin tienda  */

/* somos */

.somos{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 70rem;
    margin: 0 auto;
    padding: 1em 0;
    flex-wrap: wrap;
}

.somos-row1{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.somos-row1-card1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:var(--text-color-primary);
}

.somos-row1-card1__title{
    font-size: 1.3rem;
    letter-spacing: .35em;
    margin: 0;
    padding: 1.2em 0;
    position: relative;
    text-align: center;
}
.somos-row1-card1__title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 45%;
    width: 8%;
    height: .3rem;
    background-color: var(--text-color-primary);

}
.somos-row1-card1__text{
    width: 75%;
    text-align: center;
    line-height: 1.6em;
}
.somos-row1-card2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.somos-row1-card2__img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.somos-row2{
    width: 100%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
}
.somos-row2-card1{
    width: 50%;
    height: 100%;
}

.somos-row2-card1__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.somos-row2-card2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-secondary);
}

.somos-row2-card2__title{
    width: 56%;
    font-size: 4rem;
    transform: scaleY(1.2);
    font-family: 'AvenirBolder';
    font-weight: 100;
    color: var(--text-color-second);
    text-align: center;
    margin: 1em 0;
}

.somos-row2-card2__buy{
    font-size: 1rem;
    padding: .8em 2.6em;
    background-color: var(--text-color-second);
    text-decoration: none;
    color:var(--background-color-secondary);
    border: .1em solid var(--text-color-second);

}

/* fin somos  */


/* formulario contactos  */

.contactos{
    width: 95%;
    height: 52.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contactos__background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

.contactos-form{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.699);
    padding: 3rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.089);
}
.contactos-form__title{
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: .5em;
    color: var(--text-color-primary);
}
.contactos-form__sub{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: .6rem;
}


.contactos-form__sub b{
    margin-bottom: .4rem;
}
.contactos-form__input{
    width: 100%;
    height: 2.4rem;
    outline-color: #a05841;
}
.contactos-form__input:focus{
    outline: .2rem solid var(--text-color-primary);
  
}
.contactos-form-mitad{
    display: flex;
    width: 93%;
}
.contactos-form-mitad__input{
    width: 60%;
}
.contactos-form__area{

    max-width: 100%;
    min-width: 100%;
    min-height: 8rem;
    max-height: 8rem;

}
.contactos__submit{
    width: 90%;
    background-color: rgba(131, 33, 33);
    padding: .6rem 0;
    color: var(--text-color-second);
    cursor: pointer;
    border: .1rem solid rgba(131, 33, 33);
}
.contactos__submit:active{
    background-color: var(--text-color-second);
    color: rgba(131, 33, 33);
}
/* fin contactos */

/* footer  */

.footer{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color-secondary);
    color: var(--text-color-second);
}

.footer-card1{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-card1-card{
    width: 19%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.footer-card1-card__title{
    /* text-align: center; */
}
.footer-card1-card__txt{
    /* text-align: center; */
}
.footer-card1-card__map{
    width: 100%;
    height: 100%;
}
.footer-card2{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-card2-card__sub{
    display: flex;
    flex-direction: column;

}
.footer-card2-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.footer-card2-card__title{
    text-align: center;
    font-size: 1rem;
    letter-spacing: .5em;
}
.footer-card2-card__sub{
    align-self: baseline;
}
.footer-card-card-suscribete{
    margin: .4rem 0;
}

.footer-card2-card__email{
    width: 15rem;
    height: 2.4rem;
    background-color: transparent;
    border: .2rem solid var(--text-color-primary);
    outline: none;
    color: var(--text-color-second);
}

.footer-card2-card__submit{
    width: 8rem;
    height: 2.4rem;
    border: .3em solid var(--text-color-second);
    color: var(--background-color-secondary);
    background-color: var(--text-color-second);
}


.footer-card2-card__submit:active{
    background-color: transparent;
    color: var(--text-color-second);
}

.footer-card2-card-redes{
    display: flex;
    padding: 1rem 0;
}
.footer-card2-card-redes__ico{
    fill: var(--text-color-second);
    width: 2.5rem;
    margin: 0 .5rem;
}

.footer-card2-card-redes__ico:active{
    transform: scale(1.2);
}

@media (hover:hover){
    .header__logo:hover, .navbar-nav1__link:hover, .navbar-nav2__link:hover {
        color: black;
        transition: color .5s;
    }

    .container-logo__btn:hover, .tienda-card__buy:hover{
        background-color: var(--text-color-second);
        color: var(--text-color-primary);
        transition: all .8s;
        
    }


    .tienda-card:hover .tienda-card__background{
        opacity: .3;
    }

    .somos-row2-card2__buy:hover{
        background-color: var(--background-color-secondary);
        color: var(--text-color-second);
        transition: background-color .5s;
    }

    .contactos__submit:hover{
        background-color: var(--text-color-second);
        color: rgba(131, 33, 33);
    }

    .footer-card2-card__submit:hover{
        background-color: transparent;
        color: var(--text-color-second);
    }

    .footer-card2-card-redes__ico:hover{
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1200px){
    .tienda-card{
        height: 20rem;
    }

    .contactos-form{
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .header__btn{
        display: flex;
    }
    .header__logo{
        margin: 0;
    }
    .navbar-nav1{
        /* display: none; */
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: 3.75rem;
        width: 35%;
        height: 50%;
        box-shadow: .3rem .6rem .8rem rgba(0, 0, 0, 0.342);
        background-color: var(--text-color-second);
        z-index: 10;
        transform:translateX(-120%);
        transition: transform .7s ease-in;
    }
    .navbar-nav1-responsive{

        display: flex;
        transform:translateX(-0%);
        transition: transform .7s ease-in;
        
    }

    .somos{
        height: 70rem;
    }
    .somos-row1-card1__text{
        width: 95%;
        font-size: .9rem;
        line-height: 1.1em;
    }

    .somos-row1-card2__img{
        width: 100%;
        height: 50%;
        object-fit:cover;
    }
    .somos-row1, .somos-row2{
        height: 50%;
    }
   
    .somos-row2-card2__title{
        font-size: 2.7rem;
        width: 80%;

    }

    .contactos-form{
        width: 80%;
        height: 65%;
    }

    .footer-card1-card{
        width: 25%;
    }
}
@media screen and (max-width: 650px) {
    .navbar-nav1{
        width: 50%;
    }
    .navbar-nav2__call{
        font-size: .7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .container-logo-logo__txt{
        font-size: .7rem;
    }
    .container-logo-logo__img{
        width: 7rem;
    }

    .container-logo__title{
        font-size: 3rem;
    }

    .container-logo__sub{
        font-size: 1rem;
    }

    .container-logo__btn{
        font-size: .8rem;
    }

    .tienda-card{
        width: 50%;
        height: 20rem;
    }
    .somos{
      height: 85rem;
    }
    .somos-row1-card1, .somos-row1-card2, .somos-row2-card1, .somos-row2-card2{
        width: 100%;
        height: 50%;
    }

    .somos-row1-card2__img{
        width: 50%;
        height: 100%;
    }
    .contactos{
        height: 48.5rem;  
    }
    .contactos-form{
        width: 95%;
        height: 75%;
        padding: 0 .5rem;
    }


    .contactos-form__title{
        width: 100%;
        font-size: .8rem;
    }
    .contactos-form__sub{
        font-size: .8rem;
        margin: .3rem;
    }

    .contactos-form-mitad{
        flex-direction:column;
    }
    .contactos-form-mitad__input{
        width: 96%;

    }
    .contactos-form__input{
        height: 2rem;
    }
    .contactos-form__area{
        min-height: 5rem;
        max-height: 5rem;
    }

    .footer-card1{
        flex-wrap: wrap;
 
    }

    .footer-card1-card{
        width: 100%;
    }

    .footer-card1-card__title{
        font-size: .8rem;
        text-align: center;
    }

    .footer-card1-card__txt{
        font-size: .8rem;
        text-align: center;
    }

    .footer-card2-card__title{
        font-size: .9rem;
    }
    .footer-card2-card__sub{
        font-size: .8rem;
    }

    .footer-card2-card__email{
        width: 10rem;
    }
    .footer-card2-card__submit{
        width: 5rem;
    }

    .footer-card2-card-redes__ico{
        width: 30px;
    }
}
@media screen and (max-width: 400px) {
    .navbar-nav1{
        width: 60%;
    }
    .tienda-card{
        width: 100%;
        height: 15rem;
    }
    

    .somos{
        height: 75rem;
    }
    .somos-row1-card1__title{
        font-size: 1rem;
    }
    .somos-row1-card1__text{
        font-size: .8rem;
    }

    .somos-row2-card2__title{
        margin: .5em 0;
    }
    .contactos{
        height: 48rem;
    }
    .contactos-form{
        height: 65%;
        justify-content: center;
    }
    
}